<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkboard</title>
    <style>
        .block1{
            background-color: {{colour1}};
            height: 2em;
            width: 2em;
        }
        .block0{
            background-color: {{colour0}};
            height: 2em;
            width: 2em;
        }
    </style>
</head>
    <p>***Checkerboard***</p>
    <table>
    {%for i in range(numh)%}
        <tr>
        {% for j in range(numw) %}
            <td class="block{{(i-j)%2}}"></td>
        {%endfor%}
        </tr>
    {%endfor%}
    </table>
<body>
    
</body>
</html>